In [ ]:
d1 = {}

In [ ]:
type(d1)

In [ ]:
d2 = {'name' : "Priyanshu" , 'class' : "Graduation" , 'subject' : "B.Sc(Computer Science)" , 'name' : "Rishi"}

In [ ]:
d2

In [ ]:
#we can not start key name using special character
#we can use boolean value as key
#we can use numeric value as key

In [ ]:
d2['name']

In [ ]:
d3 = {'Company' : "PWSkills" , 'courses' : ["Java with DSA and system design" , "Data Science" , "Web Development"]}

In [ ]:
d3

In [ ]:
d3['courses']

In [ ]:
d3['courses'][1]

In [ ]:
d4 = {'tuple' : (2,2,3,2,332,32) , 'list' : [21,22,23,22,32] , 'set' : {3,2,3,4} , 'dict' : {'web_dev' : 8 , 'Data science master' : 8 , 'Java with DSA and system design' : 8}}

In [ ]:
d4

In [ ]:
d4['dict']['Java with DSA and system design']

In [ ]:
#It is used to add a key or update the key 
d4['Friends'] = ["Rishi" , "Mani" , "Sudhanshu" ]

In [ ]:
d4

In [ ]:
#It is used to delete the key
del d4['set']

In [ ]:
d4

In [ ]:
#it is used to get keys 
d4.keys()

In [ ]:
list(d4.keys())

In [ ]:
#It is used to get values from distionary
d4.values()

In [ ]:
list(d4.values())

In [ ]:
#it is used to get keys and values as tuple
d4.items()

In [ ]:
list(d4.items())

In [3]:
marks = int(input("Enter the marks : "))
if(marks >= 90) : 
    print("A Grade")
    
elif(marks >= 80 and marks < 90):
    print("B Grade")

elif(marks >= 70 and marks < 80) : 
    print("C Grade")
    
else :
    print("D Grade")

Enter the marks :  77

C Grade

In [12]:
price = int(input("Enter the price : "))

if price > 1000 :
    print("I will not purchase it ")
    
    if price > 5000 :
            print("This is too much")
    
           
else : 
     print("I will purchase it")

Enter the price :  5001

I will not purchase it
This is too much

In [13]:
l = ["priyanshu" , "kumar" , "singh"]

In [14]:
l

['priyanshu', 'kumar', 'singh']

In [25]:
l1 = []
for i in l:
    #j = i.upper()
    l1.append(i.upper())

In [26]:
l1

['PRIYANSHU', 'KUMAR', 'SINGH']

In [32]:
l = [2,3,"Priyanshu" , 23,43,"Rishi"]
l1 = []
l2 = []
for i in l :
    if type(i) == int :
        l1.append(i)
    else : 
        l2.append(i)

In [35]:
print(l1,l2)

[2, 3, 23, 43] ['Priyanshu', 'Rishi']